src/main/resources/ASU_WFS_SOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://wfs.ows.asu.edu"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wfs="http://www.opengis.net/wfs/2.0" xmlns:ows="http://www.opengis.net/ows/1.1"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:xformat="http://cxf.apache.org/bindings/xformat" name="WfsOws"
	targetNamespace="http://wfs.ows.asu.edu">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.opengis.net/wfs/2.0">
			<xsd:include schemaLocation="http://schemas.opengis.net/wfs/2.0/wfs.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.opengis.net/ows/1.1">
			<xsd:include schemaLocation="http://schemas.opengis.net/ows/1.1.0/owsAll.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.w3.org/2001/XMLSchema">
			<xsd:include schemaLocation="http://www.w3.org/2001/XMLSchema.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ServiceExceptionReport">
		<wsdl:part name="BodyElement" element="ows:ExceptionReport" />
	</wsdl:message>
	<wsdl:message name="GetCapabilitiesRequest">
		<wsdl:part name="BodyElement" element="wfs:GetCapabilities" />
	</wsdl:message>
	<wsdl:message name="GetCapabilitiesResponse">
		<wsdl:part name="BodyElement" element="wfs:WFS_Capabilities" />
	</wsdl:message>
	<wsdl:message name="DescribeFeatureTypeRequest">
		<wsdl:part name="BodyElement" element="wfs:DescribeFeatureType" />
	</wsdl:message>
	<wsdl:message name="DescribeFeatureTypeResponse">
		<wsdl:part name="BodyElement" element="xsd:schema" />
	</wsdl:message>
	<wsdl:portType name="WfsPortType">
		<wsdl:operation name="GetCapabilities">
			<wsdl:input message="ns:GetCapabilitiesRequest" />
			<wsdl:output message="ns:GetCapabilitiesResponse" />
			<wsdl:fault message="ns:ServiceExceptionReport" name="fault" />
		</wsdl:operation>
		<wsdl:operation name="DescribeFeatureType">
			<wsdl:input message="ns:DescribeFeatureTypeRequest" />
			<wsdl:output message="ns:DescribeFeatureTypeResponse" />
			<wsdl:fault message="ns:ServiceExceptionReport" name="fault" />
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
